body{
    font-family: "Montserrat";
}
#title{
    background-color: #ff4c68;
    color: white;
    
}
.container-fluid{
    padding: 3% 15%;
    
}
h1{
    font-family: 'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h3{
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
}

p{
    color: #8f8f8f;
}
/* Navigation bar  */

.navbar{
    padding-bottom: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color:white;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
    color:white;
}

/* Download buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Title image  */
.title-image{
    width: 60%;
    transform: rotate(25deg);
}

/* Features section */
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
}
